$enable-rounded: true !default;
$border-width: 1px !default;
$border-color: #918889 !default;
$border-radius: 1.25rem !default;
$border-radius-sm: 0.125rem !default;
$border-radius-lg: 1.5rem !default;
$border-radius-xl: 2rem !default;
$border-radius-pill: 9999px !default;
$min-contrast-ratio: 2 !default;
$body-color: #fff !default;
$text-muted: #918889 !default;
$headings-color: #fff !default;
$white: #fff !default;
$black: #000 !default;
$gray-100: #E9E7E7 !default;
$gray-200: #D8D5D5 !default;
$gray-300: #BAB5B6 !default;
$gray-400: #A7A0A0 !default;
$gray-500: #918889 !default;
$gray-600: #6F6768 !default;
$gray-700: #5D5657 !default;
$gray-800: #403B3C !default;
$gray-900: #2A2728 !default;
$primary: #6691ff !default;
$secondary: #918889 !default;
$success: #7acc66 !default;
$info: #7d8695 !default;
$warning: #eab308 !default;
$danger: #f53d6c !default;
$light: #E9E7E7 !default;
$dark: #2A2728 !default;
$primary-light: #ddeeff !default;
$secondary-light: #E9E7E7 !default;
$success-light: #b0fa9e !default;
$info-light: #ddeeff !default;
$warning-light: #fef9c3 !default;
$danger-light: #fa9eb5 !default;
$light-light: #F5F4F4 !default;
$dark-light: #E9E7E7 !default;
$primary-dark: #0a0a20 !default;
$secondary-dark: #403B3C !default;
$success-dark: #031f13 !default;
$info-dark: #2541ae !default;
$warning-dark: #854d0e !default;
$danger-dark: #1f0a0f !default;
$light-dark: #A7A0A0 !default;
$theme-colors: (primary: $primary,secondary: $secondary,success: $success,info: $info,warning: $warning,danger: $danger,light: $light,dark: $dark,primary-light: $primary-light,secondary-light: $secondary-light,success-light: $success-light,info-light: $info-light,warning-light: $warning-light,danger-light: $danger-light,light-light: $light-light,dark-light: $dark-light,primary-dark: $primary-dark,secondary-dark: $secondary-dark,success-dark: $success-dark,info-dark: $info-dark,warning-dark: $warning-dark,danger-dark: $danger-dark,light-dark: $light-dark,) !default;
$blue: #6691ff !default;
$red: #ef4444 !default;
$green: #50ae39 !default;
$blue-100: #ddeeff !default;
$blue-200: #c2dfff !default;
$blue-300: #9cc8ff !default;
$blue-400: #75a6ff !default;
$blue-500: #6691ff !default;
$blue-600: #365df5 !default;
$blue-700: #3a4ad8 !default;
$blue-800: #2541ae !default;
$blue-900: #ddeeff !default;
$green-100: #e5f8e0 !default;
$green-200: #cdefc3 !default;
$green-300: #a4e095 !default;
$green-400: #7acc66 !default;
$green-500: #50ae39 !default;
$green-600: #3e8f2a !default;
$green-700: #327124 !default;
$green-800: #2b5a21 !default;
$green-900: #244a1d !default;
$container-max-widths: (xs: 480px,sm: 640px,md: 768px,lg: 1024px,xl: 1280px,) !default;
$enable-rfs: true !default;
$enable-antialiasing: true !default;
$font-family-base: "Mona Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !default;
$font-size-base: 1rem !default;
$font-size-sm: 0.875rem !default;
$font-size-lg: 1.125rem !default;
$font-weight-bold: 700 !default;
$font-weight-medium: 500 !default;
$small-font-size: .875em !default;
$headings-font-weight: 700 !default;
$headings-font-family: "Mona Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !default;
$headings-line-height: 1.2 !default;
$h1-font-size: 4.5rem !default;
$h2-font-size: 3.75rem !default;
$h3-font-size: 3rem !default;
$h4-font-size: 2.25rem !default;
$h5-font-size: 1.875rem !default;
$h6-font-size: 1.5rem !default;
$display-font-family: "Mona Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !default;
$display-font-weight: 700 !default;
$display-font-sizes: (1: 8rem,2: 6rem,3: 4.5rem,4: 3.75rem,5: 3rem,) !default;
$font-sizes: (1: 3.75rem,2: 3rem,3: 2.25rem,4: 1.875rem,5: 1.5rem,6: 1.25rem,7: 1.125rem,8: 1rem,9: 0.875rem,10: 0.75rem,) !default;
$display-line-height: 1.5 !default;
$lead-font-size: 1.125rem !default;
$lead-font-weight: 400 !default;
$box-shadow: 0px 0px 0px 1px rgb(0,0,0 / 0.1), 0 1px 2px -1px rgb(0,0,0 / 0.1) !default;
$box-shadow-sm: 20px 40px 80px 0px rgba(45, 51, 81, 0.12) !default;
$box-shadow-lg: 0 20px 25px -5px rgb(0,0,0 / 0.1), 0 8px 10px -6px rgb(0,0,0 / 0.1) !default;
$box-shadow-xl: 0 25px 50px -12px rgb(0,0,0 / 0.25) !default;
$box-shadow-inset: inset 0 2px 4px 0 rgb(0,0,0 / 0.05) !default;
$enable-negative-margins: true !default;
$spacers: (0: 0px,1: 0.25rem,2: 0.5rem,3: 0.75rem,4: 1rem,5: 1.25rem,6: 1.5rem,7: 1.75rem,8: 2rem,9: 2.25rem,10: 2.5rem,11: 2.75rem,12: 3rem,14: 3.5rem,16: 4rem,20: 5rem,24: 6rem,28: 7rem,32: 8rem,36: 9rem,40: 10rem,44: 11rem,48: 12rem,52: 13rem,56: 14rem,60: 15rem,64: 16rem,72: 18rem,80: 20rem,96: 24rem,) !default;
$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;
$link-color: #6691ff !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$alert-border-radius: 0.75rem !default;
$badge-font-size: 0.75rem !default;
$badge-font-weight: 400 !default;
$badge-color: #000 !default;
$badge-padding-y: 0px !default;
$badge-padding-x: 0px !default;
$badge-border-radius: 0px !default;
$enable-rounded: true !default;
$input-btn-font-family: "Mona Sans",ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !default;
$input-btn-font-size: 1rem !default;
$input-btn-font-size-sm: 0.875rem !default;
$input-btn-font-weight: 600 !default;
$btn-font-size-sm: 0.875rem !default;
$input-btn-padding-y: 0.5rem !default;
$input-btn-padding-x: 1rem !default;
$input-btn-padding-y-sm: 0.5rem !default;
$input-btn-padding-x-sm: 1rem !default;
$input-btn-line-height: 1.5 !default;
$btn-border-radius: 9999px !default;
$btn-border-radius-sm: 9999px !default;
$input-btn-border-radius: 9999px !default;
$input-btn-border-radius-sm: 9999px !default;
$hover-border: transparent !default;
$btn-border-radius-lg: 0.5rem !default;
$btn-font-weight: 600 !default;
$input-color: #fff !default;
$input-placeholder-color: #fff !default;
$input-font-size: 14px !default;
$input-padding-y: 0.875rem !default;
$input-padding-x: 1rem !default;
$input-border-radius: 9999px !default;
$input-border-color: rgba(255, 255, 255, 0.10) !default;
$nav-link-font-size: 0.875rem !default;
$nav-link-font-weight: 400 !default;
$navbar-padding-y: 1.5rem !default;
$navbar-padding-x: 1.25rem !default;
$navbar-nav-link-padding-x: 1.25rem !default;
$navbar-light-color: #403B3C !default;
$navbar-light-hover-color: #6691ff !default;
$navbar-light-active-color: #6691ff !default;
$navbar-light-disabled-color: #918889 !default;
$navbar-dark-color: #fff !default;
$navbar-dark-hover-color: #D8D5D5 !default;
$navbar-dark-active-color: #D8D5D5 !default;
$navbar-dark-disabled-color: #918889 !default;

// Variables

$enable-antialiasing: false !default;

$alert-color: null !default;
$alert-font-size: null !default;
$alert-border-width: 1px !default;

$alert-border-top-width: $alert-border-width !default;
$alert-border-right-width: $alert-border-width !default;
$alert-border-bottom-width: $alert-border-width !default;
$alert-border-left-width: $alert-border-width !default;

$alert-border-top-right-radius: $alert-border-radius !default;
$alert-border-top-left-radius: $alert-border-radius !default;
$alert-border-bottom-right-radius: $alert-border-radius !default;
$alert-border-bottom-left-radius: $alert-border-radius !default;

$badge-text-transform: null !default;
$btn-text-transform: null !default;

$navbar-toggler-border: $border-width !default;
$headings-letter-spacing: null !default;